.main-content {
    margin-bottom: 80px;
}

.footer-text {
    margin: 20px;
}

.footer-text > a {
    float: none;
}

.main-list {
    margin-bottom: 20px;
    padding: 0 10px;
    min-height: 300px;
    max-height: 250px;
    overflow: scroll;
    border: 1px dashed gray;
}

.main-list-top-pencil {
    margin-top: 20px;
}

.main-list-top-pencil > a {
    color: black;
}

/*
.lal:hover {
    overflow: visible;
}
*/

.splash {
    display: none;
}

[ng-cloak].splash {
    background-color: #428bca;
    width: 100%;
    text-align: center;
    color: white;
    display: block !important;
}

#login_nav {
    margin-right: 15px;
}

.button-add-something {
    margin-top: 25px;
}
.word-break{
    word-break: break-all;
}
