.footer-text {
    margin: 20px;
}

.footer-text > a {
    float: none;
}

.lal {
    margin-bottom: 20px;
    padding: 0 10px;
    min-height: 300px;
    max-height: 250px;
    overflow: scroll;
    border: 1px dashed gray;
}
/*
.lal:hover {
    overflow: visible;
}
*/