.main-content {
    margin-bottom: 80px;
}

.footer-text {
    margin: 20px;
}

.footer-text > a {
    float: none;
}

.main-list {
    margin-bottom: 20px;
    padding: 0 10px;
    min-height: 300px;
    max-height: 250px;
    overflow: scroll;
    box-shadow: 0 0 2px rgba(0,0,0,0.52),0 2px 4px rgba(0,0,0,0.12);
}

.main-list-top-pencil {
    margin-top: 20px;
}

.main-list-top-pencil > a {
    color: black;
}

/*
.lal:hover {
    overflow: visible;
}
*/

.splash {
    display: none;
}

[ng-cloak].splash {
    background-color: #428bca;
    width: 100%;
    text-align: center;
    color: white;
    display: block !important;
}

#login_nav {
    margin-right: 15px;
}

.button-add-something {
    margin-top: 25px;
}

.word-break {
    word-break: break-all;
}

#editItemSuccessMessage {
    text-align: center;
    margin: 50px 0 0 0;
    position: fixed;
    top: 0;
    padding: 0;
    transition: all 3s;
    -webkit-transition: all 2s;

}

.bg-primary {
    padding: 20px;
    width: 300px;
}

.bg-primary > a {
    color: #FFFF00;
}
.signup-decision{
    margin:30px;
}
.delete-item-form{
    margin: 10px 0 0 0;
}