{% extends 'layout.html' %}
{% load i18n %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load humanize %}
{% block title %}
    {{ shop.name }}
{% endblock %}

{% block content %}
    <div class="row">
        <div class="item-detail-header col-lg-10 col-md-9 col-sm-9 col-xs-12">
            <h1 class="detail-item-attr">{{ shop.username }}</h1>
        </div>

        <div class="col-lg-12 col-md--12 col-sm-12 col-xs-12">
            <ol class="breadcrumb">
                <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
                <li><a href="{% url 'shop_list' %}">{% trans "List of shops" %}</a></li>
                <li class="active">{% trans "Shop detail" %}</li>
            </ol>
            <hr>
            {% if messages %}
                {% for message in messages %}
                    <div class="messenger alert alert-success" role="alert">
                        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
            <h3 class="detail-item-attr">
                ID:{{ shop.id }}
            </h3>
            <hr>
            <h3 class="detail-item-attr">
                Name:{{ shop.username }}
            </h3>
            <hr>
            <button class="btn btn-primary btn-lg" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample">
                {% trans "Show items" %}
            </button>
            <div class="collapse" id="collapseExample">
                    {% for item in shop.items.all %}
                         <div class="main-list col-lg-4 col-ms-4 col-sm-6 col-xs-12">

                    <div class="notes">
                        <div class="row">
                            <div class="main-list-top col-lg-10 col-md-10 col-sm-10 col-xs-10">
                                <h2>ID:{{ item.id }}</h2>
                            </div>
                            <div class="main-list-top-pencil col-lg-2 col-md-2 col-sm-2 col-xs-2 pull-right">
                                <a href="{% url 'products_edit' item.id %}" >
                                    <i class="fa fa-pencil fa-2x"></i>
                                </a>
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h4 class="word-break">{% trans "name" %}:{{ item.name|truncatechars:35 }}</h4>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h4 class="word-break">{% trans "price" %}:{{ item.price|truncatechars:35 }}
                                    $.</h4>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h4 class="word-break">{% trans "image_url" %}: {{ item.image_url|default:'No image url' }}</h4>
                            </div>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <ul>
                                    {% for category in item.categories.all %}
                                        <li>{{ category }}</li>
                                    {% empty %}
                                        <small>Categories doesn't picked.</small>
                                    {% endfor %}
                                </ul>

                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <h4>
                                    <a href="{% url 'products_show' item.id %}">{% trans "Details" %}</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>
                    {% empty %}
                        <small>This shop doesn't add items</small>
                    {% endfor %}
            </div>
            <hr/>
        </div>

    </div>

{% endblock %}