{% extends 'products/layout.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load staticfiles %}
{% block title %}
    {{ foo }} {% trans "item" %}
{% endblock %}

{% block content %}

    <h1>{{ foo }} {% trans "item" %}</h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
        <li><a href="#">{% trans "items" %}</a></li>
        <li class="active">{{ foo }} {% trans "item" %}</li>
    </ol>
    <hr>
    <div class="col-md-8 col-sm-10">
        <form class="form-horizontal"
              name="add_comment_form" role="form" method="POST"
              action="#" enctype="multipart/form-data">
            {% csrf_token %}
            {% if form.errors %}
                <div class="col-md-12">
                    <div class="panel-body">
                        <div class="alert alert-danger">
                            <ul>
                                {{ form.errors }}
                            </ul>
                        </div>
                    </div>
                </div>
            {% endif %}
            {% bootstrap_form form layout='horizontal' size='medium' horizontal_label_class='col-md-2' horizontal_field_class='col-md-7' %}
            <div class="form-group">
                <div class="col-md-6 col-md-offset-2 text-center">
                    <input type="submit" class="btn btn-primary" name="submit" value="{{ foo }} {% trans "item" %}">
                </div>
            </div>
        </form>
    </div>

{% endblock %}