{% extends 'layout.html' %}
{% load i18n %}
{% load bootstrap3 %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% block title %}
    {{ foo }} {% trans "category" %}
{% endblock %}

{% block content %}

    <h1>{{ foo }} {% trans "category" %}</h1>
    <ol class="breadcrumb">
        <li><a href="{% url 'home' %}">{% trans "Home" %}</a></li>
        <li><a href="#">{% trans "Categories" %}</a></li>
        <li class="active">{{ foo }} {% trans "category" %}</li>
    </ol>
    <hr>
    <div class="col-md-8 col-sm-10">

            {% crispy form %}

    </div>

{% endblock %}