{% load i18n %}
{% load activelink %}

<nav class="navbar navbar-default" bs-navbar>
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% if not user.is_authenticated %}
                <ul id="login_nav" class="nav navbar-nav hidden-lg hidden-md hidden-sm pull-right">
                    <li><a href="{% url 'login' %}">{% trans "Sign In" %}</a>
                    </li>
                </ul>
            {% else %}

                <ul id="login_nav" class="nav navbar-nav hidden-lg hidden-md hidden-sm pull-right">
                    <li id="cart-on-nav-xs" class="nav-cart">
                        <a href="{% url 'cart_list' %}"
                                {% if request.session.in_cart %}
                           class="animated infinite pulse"
                           style="color: #7DDE7D;"
                                {% endif %}>
                            <i class="fa fa-shopping-cart fa-3x"></i>
                            <span class="badge">{{ request.session.in_cart|wordcount }}</span>
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="{% ifactive "home" %} active {% endifactive %}">
                    <a href="{% url 'home' %}">{% trans "Home" %}</a>
                </li>

                <li class="{% ifactive "shop_list" %} active {% endifactive %}">
                    <a href="{% url 'shop_list' %}">{% trans "Shops" %}</a>
                </li>

                <li data-match-route="/">
                    <a href="{% url 'products_index_ang' %}#/">{% trans "Items-Angular" %}</a>
                </li>

                <li class="{% ifactive "categories_list_ang" %} active {% endifactive %}">
                    <a href="{% url 'categories_list_ang' %}">{% trans "Categories-Angular" %}</a>
                </li>
                {% if user.is_staff %}
                    <li class="hidden-sm"><a href="/admin/">Admin</a>
                    </li>
                {% endif %}
            </ul>

            <!-- nav right -->
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li id="cart-on-nav" class="nav-cart hidden-xs{% ifactive "cart_list" %} active {% endifactive %}">

                    <!-- if item exists in cart - add animated pulse-->
                        <a href="{% url 'cart_list' %}"
                                {% if request.session.in_cart %}
                                   class="animated infinite pulse"
                                   style="color: #7DDE7D;"
                                {% endif %}>
                            <i class="fa fa-shopping-cart fa-3x"></i>
                            <span class="badge">{{ request.session.in_cart|wordcount }}</span>
                        </a>

                    </li>

                    <li role="presentation" class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                           aria-expanded="false">
                            {{ user.username }} <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'logout' %}">{% trans "Sign out" %}</a>
                            </li>
                        </ul>
                    </li>
                {% else %}
                    <li class="{% ifactive "login" %} active {% endifactive %}">
                        <a href="{% url 'login' %}">{% trans "Sign In" %}</a>
                    </li>
                {% endif %}
            </ul>
        </div>

    </div>
</nav>