{% extends 'layout.html' %}
{% load i18n %}
{% load staticfiles %}
{% block title %}
    Home
{% endblock %}

{% block content %}

    <div class="starter-template">
        <p class="lead animated zoomIn">
            <h2 class="main-greet animated fadeInUp">
                {% if user.is_authenticated %}
                    {% trans "Hello" %},{{ user }}!
                {% else %}
                    {% trans "Welcome" %}<br><a href="{% url 'register' %}">{% trans "Sign Up" %}</a> or
                    <a href="{% url 'login' %}"> {% trans "Sign In" %}</a> on web site.
                {% endif %}
            </h2>
        </p>
    </div>

{% endblock %}