{% load staticfiles %}

<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Stacenko Andrey">
    <title>{% block title %}{% endblock %} &ndash; MyNotes</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'products/css/style.css' %}">
    <style>body {
    }

    .starter-template {
        padding: 40px 15px;
        text-align: center;
    }</style>

    <!--[if IE]>
        <script src="https://cdn.jsdelivr.net/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="https://cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>
<div class="container">
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed pull-left" data-toggle="collapse"
                        data-target="#navbar" aria-expanded="false" aria-controls="navbar" style="margin-left: 15px;">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                {% if not user.is_authenticated %}
                    <ul id="login_nav" class="nav navbar-nav hidden-lg hidden-md hidden-sm pull-right">
                        <li><a href="{% url 'login' %}">Войти</a>
                        </li>
                    </ul>
                {% endif %}
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li {% if request.path == '/' %} class="active" {% endif %}><a href="{% url 'home' %}">Главная</a>
                    </li>
                    <li {% if '/products/' in request.path and not '/products_ang/' in request.path %} class="active"{% endif %}>
                        <a href="{% url 'products_list' %}">Продукты</a>
                    </li>
                    <li {% if '/products_ang/' in request.path and not '/product/' in request.path %} class="active"{% endif %}>
                        <a href="{% url 'products_list_ang' %}">Продукты Angular</a>
                    </li>
                    <li {% if '/categories/' in request.path %} class="active"{% endif %}>
                        <a href="{% url 'categories_list' %}">Категории</a>
                    </li>
                    <li {% if '/categories_ang/' in request.path and not '/categories/' in request.path %} class="active"{% endif %}>
                        <a href="{% url 'categories_list_ang' %}">Категории Angular</a>
                    </li>
                    {% if user.is_staff %}
                        <li class="hidden-sm"><a href="/admin/">Admin</a>
                        </li>
                    {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'logout' %}">Выйти</a>
                        </li>
                    {% else %}
                        <li>
                            <a href="{% url 'login' %}">Войти</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
</div>
<div class="container main-content" ng-app="myApp" style="margin-bottom: 80px;">
    {% block content %}
        {# Контент #}
    {% endblock %}
</div>
<div class="col-lg-12 col-md-12 col-sm-12 col-lg-12">
    <div class="navbar-fixed-bottom  navbar-inverse container">
        <div class="footer-text text-center">
            <a class="navbar-brand" href="#">footer</a>
        </div>
    </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.2.10/angular-route.min.js"></script>
<script src="{% static 'products/js/my_angular.js' %}"></script>
<script src="{% static 'products/js/ui-bootstrap.min.js' %}"></script>

<!--
<script>
$(document).ready(function(){
    $('.lal').mouseenter(function(){
        $(this).css('max-height','none');
    }).mouseleave(function(){
        $(this).css('max-height','250px');
    });
});

</script>
 -->
</body>
</html>
