{% extends "products/layout.html" %}
{% load crispy_forms_tags %}
{% load i18n %}
{% block title %}
    {{ title }}
{% endblock %}
{% block content %}

    <h2>{{ title }}</h2>
    <div class="row" ng-controller="loginCtrl">
        <div class="col-md-10">
            <section id="loginForm">
                <hr/>

                {% crispy form %}

                <h4 class="signup-decision">
                    <a href="{% url 'register' %}">Sign Up right now!</a>
                </h4>
            </section>
        </div>
        <div class="col-md-4">
            <section id="socialLoginForm"></section>
        </div>
    </div>

{% endblock %}
